name: Ameba

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Download source
        uses: actions/checkout@v6

      - name: Run Ameba Linter
        uses: crystal-ameba/github-action@f755fa629dabf57cf63fb8787558e8dbc2877a2c
        with:
          version: 1.6.0
          fail-level: error
