name: Crystal CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1

      - name: Checkout source
        uses: actions/checkout@v6

      - name: Install dependencies
        run: shards install --skip-postinstall --skip-executables

      - name: Run tests
        run: crystal spec
